@font-face {
    font-family: Orbitron;
    src: url("public/Orbitron.ttf");
}

.toggle-checkbox:checked {
    right: 0;
    border: none;
    background-color: rgb(129 124 214);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' className='h-10 w-10' fill='%23FFF' viewBox='0 0 24 24' stroke='rgb(129 124 214)' > <path strokeLinecap='round' strokeLinejoin='round' d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /> </svg>");
}

.toggle-checkbox:checked + .toggle-label {
    background-color: rgb(76 73 188);
}

h1,
h2,
h3 {
    margin-top: 8px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.dark h3 {
    color: #ddd;
}

.text p:not(.cite) {
    text-indent: 2rem;
}

ol a {
    color: #0000ff;
    text-decoration: underline;
}

.dark ol a {
    color: #add8e6;
}
